<!DOCTYPE html>
<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
</head>
<body>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #33d464 !important"
  >
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>

        <li style="margin-left: 600px" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Welcome
            <b><%= displayName %></b>
          </a>
          <div
            class="dropdown-menu ml-auto"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a
              class="dropdown-item"
              href="/users/logout"
              class="btn btn-secondary"
              >Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="todo-container">
    <h2>To-Do List</h2>
    <div class="todo">
      <form action="/dashboard" method="POST" class="todo-header">
        <input type="text" name="content" required />
        <button type="submit"><span class="fas fa-plus"></span></button>
      </form>
      <ul class="todo-list">
        <% todoTasks.forEach(details => { %>
        <li class="todo-list-item">
          <div class="todo-list-item-name"><%= details.content %></div>
          <a href="/edit/<%= details._id %>" class="edit">
            <span class="fas fa-edit"></span>
          </a>
          <a href="/remove/<%= details._id %>" class="remove">
            <span class="fas fa-times"></span> </a
          >by &nbsp;<%=details.user %>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
